<!DOCTYPE html>
<html>
  <head>
    <title>PlotEat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Inconsolata" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <%= render "partials/header"%>
    <%= yield %>
    <%= render "partials/footer"%>
  </body>
</html>
